#landing span{
    color: white;
    font-size: 5rem;
    font-family: "Techno Board";
}
.navBar .logo{
    height: 40px;
    width: 40px;
}
.navBar ul li a{
    margin: 2px 0;
    font-size: 15px;
}
#quickRegister{
    font-size: 15px;
}